{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if docker_registry_container_labels_traefik_enabled %}
traefik.enable=true

{% if docker_registry_container_labels_traefik_docker_network %}
traefik.docker.network={{ docker_registry_container_labels_traefik_docker_network }}
{% endif %}

traefik.http.middlewares.{{ docker_registry_identifier }}-ip-whitelist.ipwhitelist.sourcerange={{ docker_registry_private_services_whitelisted_ip_ranges | join(', ') }}

traefik.http.routers.{{ docker_registry_identifier }}-public.rule={{ docker_registry_container_labels_traefik_rule_public }}
traefik.http.routers.{{ docker_registry_identifier }}-public.service={{ docker_registry_identifier }}
traefik.http.routers.{{ docker_registry_identifier }}-public.tls={{ docker_registry_container_labels_traefik_tls | to_json }}
{% if docker_registry_container_labels_traefik_tls %}
traefik.http.routers.{{ docker_registry_identifier }}-public.tls.certResolver={{ docker_registry_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.routers.{{ docker_registry_identifier }}-public.entrypoints={{ docker_registry_container_labels_traefik_entrypoints }}

traefik.http.routers.{{ docker_registry_identifier }}-private.rule={{ docker_registry_container_labels_traefik_rule_private }}
traefik.http.routers.{{ docker_registry_identifier }}-private.middlewares={{ docker_registry_identifier }}-ip-whitelist@docker
traefik.http.routers.{{ docker_registry_identifier }}-private.service={{ docker_registry_identifier }}
traefik.http.routers.{{ docker_registry_identifier }}-private.tls={{ docker_registry_container_labels_traefik_tls | to_json }}
{% if docker_registry_container_labels_traefik_tls %}
traefik.http.routers.{{ docker_registry_identifier }}-private.tls.certResolver={{ docker_registry_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.routers.{{ docker_registry_identifier }}-private.entrypoints={{ docker_registry_container_labels_traefik_entrypoints }}

traefik.http.services.{{ docker_registry_identifier }}.loadbalancer.server.port={{ docker_registry_container_http_port }}
{% endif %}

{{ docker_registry_container_labels_additional_labels }}
